<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head :: copy('Приветствие - SpringMvcDemo')"></div>
    <body>
        <div th:replace="fragments/header :: copy('Приветствие')"></div>
        <div th:replace="fragments/leftmenu :: copy(mainClass='', helloClass='inactive', priceClass='', contactClass='')"></div>
        <section>
            <main>
                <p th:text="'Hello, ' + ${name} + ' ' + ${lastName} + '!'"/>
            </main>
        </section>
        <div th:replace="fragments/footer :: copy"></div>
    </body>
</html>
