<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head :: copy('Прайс-лист - SpringMvcDemo')"></div>
    <body>
        <div th:replace="fragments/header :: copy('Прайс-лист')"></div>
        <section>
            <div th:replace="fragments/leftmenu :: copy(mainClass='', helloClass='', priceClass='inactive', contactClass='')"></div>
            <main class="contacts">
                <div class="container">
                    <!--h4>Добавить товар</h4-->
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" id="pricelistId" name="pricelistId" th:if="${goods.isPresent()}" th:attr="value=${goods.get().id}">
                        <input type="hidden" id="pricelistId" name="pricelistId" th:if="${!goods.isPresent()}" th:attr="value=''">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Наименование:</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" id="name" class="form-control" th:if="${goods.isPresent()}" th:attr="value=${goods.get().name}" placeholder="Наименование">
                                <input type="text" name="name" id="name" class="form-control" th:if="${!goods.isPresent()}" placeholder="Наименование">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="price" class="col-sm-2 col-form-label">Цена:</label>
                            <div class="col-sm-10">
                                <input type="text" name="price" id="price" class="form-control" th:if="${goods.isPresent()}" th:attr="value=${goods.get().price}" placeholder="Цена">
                                <input type="text" name="price" id="price" class="form-control" th:if="${!goods.isPresent()}" placeholder="Цена">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description-text" class="col-sm-2 col-form-label">Описание:</label>
                            <div class="col-sm-10">
                                <textarea name="description" id="description-text" th:if="${!goods.isPresent()}" class="form-control" placeholder="Описание"></textarea>
                                <textarea name="description" id="description-text" th:if="${goods.isPresent()}" th:text="${goods.get().description}" class="form-control" placeholder="Описание"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file-text" class="col-sm-2 col-form-label">Файл:</label>
                            <div class="col-sm-2" th:if="${goods.isPresent() and !#strings.isEmpty(goods.get().fileName)}">
                                <img th:src="@{'data:'+*{goods.get().fileType}+';base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(goods.get().file)}}" class="pricelist"/>
                                <span th:text="${goods.get().fileName}"/>
                                <!--img th:if="${goods.isPresent() and !#strings.isEmpty(goods.get().fileName)}" th:src="@{'data:'+*{goods.get().fileType}+';base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(goods.get().file)}}" class="pricelist"/>
                                <span th:if="${goods.isPresent() and !#strings.isEmpty(goods.get().fileName)}" th:text="${goods.get().fileName}"/-->
                            </div>
                            <div class="col-sm">
                                <input type="file" name="file" id="file-text" class="form-control" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                    </form>

                    <div class="table-wrapper">
                        <!--div class="table-title">
                            <div class="row">
                                <div class="col-sm-8"><h2>Прайс-лист</h2></div>
                                <div class="col-sm">
                                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Добавить новый</button>
                                </div>
                            </div>
                        </div-->
                        <div class="row">
                            <div class="col-md-2 col-sm-6 hidden-xs">
                                <div id="btnContainer" class="btn-group btn-group-sm">
                                    <button type="button" id="list-large" class="btn btn-default btn-view" data-toggle="tooltip" title="Список-Крупные значки" onclick="toggle_view_mode('list-large')" tabindex="-1"><i class="fas fa-th-list"></i></button>
                                    <button type="button" id="list-small" class="btn btn-default btn-view active" data-toggle="tooltip" title="Список-Мелкие значки" onclick="toggle_view_mode('list-small')" tabindex="-1"><i class="fas fa-bars"></i></button>
                                    <button type="button" id="card-deck" class="btn btn-default btn-view" data-toggle="tooltip" title="Сетка" onclick="toggle_view_mode('card-deck')" tabindex="-1"><i class="fas fa-th-large"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row action">
                            <div class="col-2" align="center">Фото</div>
                            <div class="col-2" align="left"><b>Наименование</b></div>
                            <div class="col-6" align="center"><b>Описание</b></div>
                            <div class="col-1" align="right"><b>Цена</b></div>
                            <div class="col-1" align="right">Действия</div>
                        </div>

                        <div class="container">
                            <div id="content">
                                <div class="row pricelist-item" th:each="record : ${pricelist}" th:id="${record.id}">
                                    <div class="col-2 item-img">
                                        <img th:if="${#strings.isEmpty(record.fileName)}" src="img/logo.png" class="item-icon list-small"/>
                                        <img th:if="!${#strings.isEmpty(record.fileName)}" th:src="@{'data:'+record.fileType+';base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(record.file)}}" class="item-icon list-small"/>
                                    </div>
                                    <div class="col-2 item-header">
                                        <b><th:block th:text="${record.name}"/></b>
                                    </div>
                                    <div class="col-6 item-text">
                                        <th:block th:text="${record.description}"/>
                                    </div>
                                    <div class="col-1 item-footer" align="right">
                                        <th:block th:if="${record.price != 0}" th:text="${record.price}" />
                                    </div>
                                    <div class="col-1 action list-small" align="right">
                                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                        <a th:href="@{'/pricelist?id='+${record.id}}" class="edit" title="Редактировать" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                        <a th:href="@{/pricelist/delete/{id}(id=${record.id})}" class="delete" title="Удалить" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <div th:replace="fragments/footer :: copy"></div>
    </body>
</html>